{% extends "base.html" %}
{% load static %}

{% block 'main' %}
<div class = "container">
    <h1 class = "text-center">Login</h1>
    <form method = "post" action = "{% url 'login' %}">
        {% csrf_token %}
        <input class = "form-control" name = "username" placeholder = "username..." type = "text"> <br>
        <input class = "form-control" name = "password" placeholder = "password..." type = "password"> <br>
        <button class = "btn btn-primary" type = "submit">login</button>
    </form>
</div>
{% endblock %}
