{% extends "base.html" %}
{% load static %}

{% block 'main' %}
    <div class = "container">
        <table class = "table">
            <thead>
                <tr>
                    <th>
                        <a href = "{% url 'topico.all' %}?asc={% if asc == 0 %} 1 {% else %} 0 {% endif %}">
                        {% if asc == 0 %}
                        &uarr;
                        {% else %}
                        &darr;
                        {% endif %}
                        Deadline
                        <a>
                    </th>
                    <th>Nome</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody> 
                {% for topico in topicos %}
                    <tr>
                        <td>{{topico.deadline}}</td>
                        <td>{{topico.name}}</td>
                        {% if topico.status == 'completed' %}
                        <td><a href = "#" class = "btn btn-sm btn-primary">Completado</a></td>
                        {% elif topico.status == 'ongoing'%}
                        <td><a href = "#" class = "btn btn-sm btn-success">Em andamento</a></td>
                        {% else %}
                        <td><a href = "#" class = "btn btn-sm btn-danger">Cancelado</a></td>
                        {% endif %}
                        <td><a href = "{% url 'topico.details' topico.pk %}" class = "btn btn-sm btn-success">detalhes</a></td>
                        <td><a href = "{% url 'topico.edit' topico.pk %}" class = "btn btn-sm btn-warning">editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>   
        </table>
    </div>

    <nav>
        <ul class = "pagination justify-content-center">
            
            {% if URL_PREVIOUS %}
                <li class="page-item">
                    <a class="page-link" href="{{URL_PREVIOUS}}">&lsaquo;</a>
                </li> 
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&lsaquo;</a>
                </li>
            {% endif %}

            {% if URL_NEXT %}
                <li class="page-item">
                    <a class="page-link" href="{{URL_NEXT}}">&rsaquo;</a>
                </li> 
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&rsaquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
