{% extends "base.html" %}
{% load static %}

{% block 'main' %}
    <div class = "container">
        <table class = "table">
            <thead>
                <tr>
                    <th>
                        <a href = "{% url 'topico.all' %}?asc={% if asc == 0 %} 1 {% else %} 0 {% endif %}">
                        {% if asc == 0 %}
                        &uarr;
                        {% else %}
                        &darr;
                        {% endif %}
                        Deadline
                        <a>
                    </th>
                    <th>Criado em</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody> 
                {% for topico in topicos %}
                    <tr>
                        <td>{{topico.deadline}}</td>
                        <td>{{topico.start}}</td>
                        <td>{{topico.name}}</td>
                        <td>{{topico.description}}</td>
                        <td><a href = "{% url 'topico.edit' topico.pk %}" class = "btn btn-sm btn-warning">editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>   
        </table>
    </div>
{% endblock %}
